

/*--------------------
    CONTENT
--------------------*/

#content {
   padding: 0 15px;
}

#content ul {
   list-style: none; 
}






/*--------------------
    PROJECT TOOL
--------------------*/

.project-tool{
    height: 60px;
    margin-top: 20px;
}

.project-tool > .info{
    float: left
}

.project-tool > .buttons{
    float: right;
}

.project-tool > .buttons > a{
    border: none;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    opacity: 0.6;
}

.project-tool > .buttons > a:hover{
    opacity: 1;
}

.project-tool > .buttons > a.grid{
    background: url(../images/grid.png);
    background-size: 16px 16px;
    background-position: top left;
    height: 16px;
    width: 16px;
}

.project-tool > .buttons > a.grid.active{
    opacity: 1;
    background: url(../images/grid-active.png);
    background-size: 16px 16px;
    background-position: top left;
}

.project-tool > .buttons > a.list{
    background: url(../images/list.png);
    background-size: 17px 16px;
    background-position: top left;
    height: 16px;
    width: 17px;
}

.project-tool > .buttons > a.list.active{
    opacity: 1;
    background: url(../images/list-active.png);
    background-size: 17px 16px;
    background-position: top left;
}


/*--------------------
    LIST
--------------------*/

#content .list .project { 
    width: 100%;
    margin-bottom: 8%;
}

#content .list .file-name{
    text-align: center;
}


/*--------------------
    GRID
--------------------*/

#content .grid .project {
   float: left; 
    width: 47%;  
    margin-bottom: 5%;
}

#content .grid .project:nth-child(odd){
    margin-left: 0;
    margin-right: 3%;
}
#content .grid .project:nth-child(even){
    margin-left: 3%;
    margin-right: 0;
}

/*--------------------
    PROJECT
--------------------*/

/*  Shot */
.project > .project-shot{
    position: relative;
    border: 1px solid rgba(34,36,38,.05);
    
    padding: 15px 15px 20px 15px;
    background: #fff;
    border-radius: 4px;
}

.project > .project-shot:before{
    display: block;
    bottom: 0 !important;   
}

.project > .project-shot:before,
.project > .project-shot:after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: 1px solid rgba(34,36,38,.05);
    background: rgba(0,0,0,.03);
    width: 100%;
    height: 4px;
    visibility: visible;
}

.project > .project-shot > .project-info {
    margin: 0;
    padding: 25px 0 15px 0;
    text-align: left;
}

.project > .project-shot > .project-info li{
    width: auto;
    margin: 0 0 0 12px;
    display: inline;
    font-size: 11.5px;
    letter-spacing: 0.3px;
    line-height: 1;
    color: #aaa;
}

.project > .project-shot > .project-info img{
    display: inline-block;
    vertical-align:middle;
    margin-right: 5px;
}

.project > .project-shot > .project-info span{
    line-height: 1;
}

.project > .project-shot > .project-info > .authors{
    float: left;
    margin-top: -5px;
    margin-left: 0;
}

.project > .project-shot > .project-info > .authors img{
    margin-top: -3px;
}

.project > .project-shot > .project-info > .files,
.project > .project-shot > .project-info > .update{
    float: right;
}

.project > .project-shot > .project-info > .files img,
.project > .project-shot > .project-info > .update img{
    margin-top: -2px;
}

/* Name */
.project > .project-name{
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 15px;
}

.project > .file-name{
    margin-top: 15px;
}




/*--------------------
    HEADER
--------------------*/


.logo {
    width: 100%;
    text-align: left;
    cursor: default;
    letter-spacing: 1px;
    text-decoration: none;
    
}

.logo > img {
    width: 40px;
    position: absolute;
    top:20px;
}

.navbar{
    display: none;
}



@media (min-width: 750px){
    .navbar > .container {
        width: 100%;
    }
    .navbar{
        padding: 0 15px;
        display: block;
        height: 80px;
        z-index: 99;
        border-bottom: 1px solid #eee;
        
    }
    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }
    .navbar-item {
        float: left;
        margin-bottom: 0;
    }
    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 80px;
        color: #414141;
    }
    
    
    .navbar-right {
        float: right;
    }
    
    .navbar .active{
        opacity: 0.5
    }

    .navbar .active:hover,
    .navbar .active:focus{
        color: #222;
    }

    .navbar-item span{
        margin-left: -30px;
        margin-right: 0;
    }
    
}

/*
.navbar {
    display: block;
    width: 100%;
    height: 2.5rem;
    margin-top: 50px;
    z-index: 99;
    margin-bottom: 40px;
}


*/

.app-name {
    border: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    font-family: "Poppins",'Helvetica Neue',Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2C83C5;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

img.wave {
    width: 100%;
}

.block{
    margin-bottom: 40px;
    list-style: none;
}


/*--------------------
    FOOTER
--------------------*/
#footer{
    
}


/*--------------------
    GENERAL
--------------------*/

.center{
    text-align: center;
}

.fa{
    margin: 0 2px;
}

img {
    display: block;
    max-width: 100%;
    border: 0;
}

body{
        background: #fff;
}
